.keycap {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background: linear-gradient(180deg, #282828, #202020);
  position: relative;
  border: 2px solid #000000;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  color: inherit;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px;
  transition: transform 0.15s;
  outline: unset;
  flex-basis: 80px;
  align-items: center;
  padding-top: 4px;
}

.keycap::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 8px;
  bottom: 16px;
  right: 8px;
  background: linear-gradient(90deg, #232323, #4a4a4a);
  border-radius: 8px;
  box-shadow: -10px 10px 8px -14px;
  border-left: 1px solid #0004;
  border-top: 1px solid #0004;
  border-bottom: 1px solid #0004;
}

.keycap::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 8px;
  bottom: 16px;
  right: 8px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 10px 10px 8px -14px;
  border-left: 1px solid #0004;
  border-top: 1px solid #0004;
  border-bottom: 1px solid #0004;
}

.keycap.active {
  transform: translateY(8px);
  width: 76px;
}

.keycap.orange {
  background: linear-gradient(180deg, #bd6200, #723000) !important;
}

.keycap.orange::before {
  background: linear-gradient(90deg, #833c00, #d37100) !important;
}

.keycap.capslock-key.keycap-active {
  color: var(--red) !important;
}

.keycap.fn-key.keycap-active {
  color: var(--red) !important;
}

.keycap i {
  font-style: normal;
  color: inherit;
  position: relative;
  font-size: 20px;
}

.keycap i.font-small {
  font-size: 16px;
}

.keycap.page-up-key i,
.page-down-key i {
  text-align: left;
}

.keycap.capslock-key,
.right-shift-key {
  width: 140px;
  flex-basis: 140px;
}

.keycap.control-key,
.option-key,
.command-key {
  width: 100px;
  flex-basis: 100px;
}

.icon {
  font-size: 24px;
}
