.phrase {
  margin: 64px auto;
  text-align: center;
  max-width: calc(80px * 16);
}

.phrase.white {
  color: var(--white);
}

.phrase.red {
  color: var(--red);
}

.phrase.orange {
  color: var(--orange);
}

.phrase.yellow {
  color: var(--yellow);
}

.phrase.green {
  color: var(--green);
}

.phrase.blue {
  color: var(--blue);
}

.phrase.turquoise {
  color: var(--turquoise);
}

.phrase.purple {
  color: var(--purple);
}

.phrase.transparent {
  color: var(--transparent) !important;
}

.phrase pre {
  font-style: normal;
  color: inherit;
  position: relative;
  font-size: 32px;
  transition: 0.25s;
  margin: auto;
  max-width: calc(80px * 16);
}

.case ~ .phrase pre.text {
  color: inherit;
}

.phrase pre.placeholder {
  word-wrap: break-word;
  white-space: break-spaces;
  color: rgb(255, 255, 255, 0.2) !important;
}

.phrase pre.text {
  white-space: break-spaces;
  word-wrap: break-word;
}

.phrase pre .caret {
  font-style: normal;
  color: #ffffff;
  animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    color: transparent;
  }
  50% {
    color: #ffffff;
  }
}
