* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --white: white;
  --red: red;
  --orange: orange;
  --yellow: yellow;
  --green: green;
  --blue: blue;
  --turquoise: turquoise;
  --purple: purple;
  --transparent: rgb(255, 255, 255, 0.3);
  --keycap-width: calc(60px);
  --keycap-height: calc(70px);
}

body {
  background: #2c2c2c;
}

@media only screen and (max-width: 425px) {
}
